#project_info
{
	width: 700px;
	height: 500px;
}

h4
{
	display: inline;
}

#workers_list
{

}
.worker_entry
{
	clear: both;
}
.worker_name
{
	float: left;
	width: 200px;
}
.worker_time
{
	float:left;
	width: 75px;
}