.layerSwitcher
{	display:inline-block;
	background:#cdf;
	padding:0.5em;
}
.btn
{	color:#fff;
	background:#369;
	padding:0.5em;
	text-decoration:none;
	cursor:pointer;
	display:inline-block;
	margin-right:0.5em;
}

.block,
.options 
{	display: table;
	margin: 0.5em;
	position: relative;
	z-index: 1;
	margin:1em;
}
.options 
{	background: #def;
	padding: 0.5em;
}
.options ul
{	list-style: none;
	padding-left: 0.5em;
}

.hideOpacity .layerswitcher-opacity 
{	
	display:none;
}
